

 
 <div id="loginModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Header Section -->
            <div class="modal-header">
                <h2>nothing to display  - register action</h2>
            </div>

            <!-- Body Section -->
            <div class="modal-body">
                <form class="form col-md-9">
                </form>
            </div>

            <!-- Footer Section -->
            <div class="modal-footer">
                <div class="col-md-9">
                </div>
            </div>
        </div>
    </div>
</div>
